* {
    box-sizing: border-box;
}
body{ 
    margin: 0px;
    font-family: sans-serif;
}
#navbar {
    background: linear-gradient(90deg, #ffe23f, #1ce11c, #1be0d0);
    padding: 36px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    gap: 75px;
}
#logo {
    margin-right: auto;
    text-decoration: none;
    font-size: 2rem;
    color: #004f00;
    font-style: italic;
}
#navbar .link {
    font-size: 1.125rem;
    color: white;
    background-color: #2e8a31;
    padding: 20px 30px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar2 {
    background: linear-gradient(20deg, #ffff73, #ffc55b, #ffc1cb);
    padding: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo2 {
    text-decoration: none;
}
#navbar2 .link2 {
    text-decoration: none;
}