* {
    box-sizing: border-box;
}
body{ 
    margin: 0px;
    font-family: sans-serif;
}
#navbar {
    background: linear-gradient(90deg, #ffe23f, #1ce11c, #1be0d0);
    padding: 36px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    gap: 75px;
}
#logo {
    margin-right: auto;
    text-decoration: none;
    font-size: 2rem;
    color: #004f00;
    font-style: italic;
}
#navbar .link {
    font-size: 1.125rem;
    color: white;
    background-color: #2e8a31;
    padding: 20px 30px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar2 {
    background: linear-gradient(20deg, #ffff73, #ffc55b, #ffc1cb);
    padding: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo2 {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color: #ff5f25;
    font-style: oblique;
}
#navbar2 .link2 {
    text-decoration: none;
}
#cta-button {
    background: linear-gradient(180deg, #ff5f25, #fa8d27);
    padding: 24px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.link2 {
    color: #ff5f25;
    font-size: 1.5rem;
}

#topnav {
    text-align: center;
    background: linear-gradient(180deg, black, #ff7300);
    h2 {
        margin-bottom: 0px;
        color: white
    }
    h4 {
        margin-top: 5px;
    }
    a {
        text-decoration: none;
    }
}