* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#centered-column {
    width: 90vw;
    max-width: 800px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
}
img {
    width: 100%;
}
.card {
    width: 350px;
    border: 2px solid #ffe4da;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -4px 4px 12px #ceaaaa;
    background: linear-gradient(-50deg,#ffdddb, #fff7f7, #ffc9c9);
    h2 {
        font-size: 36px;
        margin-top: 12px;
    }
    p {
        font-size: 18px;
    }
}
.card img {
    height: 150px;
    object-fit: cover;
}
.card .btn {
    color: white;
    text-decoration: none;
    background-color: lightcoral;
    border: 3px solid lightcoral;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 10px;
    transition:
        background-color 0.5s,
        color 0.5s
    ;
    &:hover {
        background-color: transparent;
        color: lightcoral;
    }
}