@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/

#license {
    width: 700px;
    border: 2px solid purple;
    border-radius: 24px;
    padding: 24px;
    margin: 0px;
    background: linear-gradient(to bottom right, #fdcc73, lightpink);
    box-shadow: 8px 8px 4px #0006;
}
#left-side {
    display: inline-block; 
    width: 65%;
}
#right-side {
    display: inline-block;
    width: 34%;
}
#id-and-expiration div {
    display: inline-block;
}
#small-pic-container, #data-fields {
    display: inline-block;
}
#small-pic-container img {
    width: 90px;
    opacity: 0.5;
}
#data-left, #data-right {
    display: inline-block;
    margin: 0px 12px 16px 12px;
}
#signature {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    font-family: "Ms Madi", cursive;
    
}
#right-side img {
    width: 82%;
}
#donor, #real-id {
    display: inline-block;
}

/* STYLING BELOW */

h1 {
    color: navy;
    font-size: 60px;
    margin: 0px;
}
h4 {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 8px;
    margin: 0px;
    font-size: 24px;
}
#donor {
    color: red;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 24px;
}
#donor-and-real-id {
    text-align: center;
    padding-top: 4px;
}
#real-id {
    color: white;
    background-color: gold;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    padding: 4px;
}
#real-id i {
    color: white;
}
#address {
    font-weight: bold;
    margin: 10px 18px;
}
#id-and-expiration {
    margin: 5px 18px;
}
#id-and-expiration div {
    color: navy;
}
#id-and-expiration div span {
    color: red;
    font-weight: bold;
}
#data-left span, #data-right span {
    color: red;
    font-weight: bold;
}
#data-left div, #data-right div {
    color: navy;
}
#content {
    vertical-align: top;
}
