* {
    box-sizing: border-box;
    background-color: rgb(227, 245, 247);
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
}

#grid-layout {
    display: grid;
    grid-template-columns: 1fr 800px 200px 1fr;
    grid-template-areas: ". main side .";
}

#sidebar {
    grid-area: side;
    padding: 20px;
}
.links a:hover {
    background-color: rgb(171, 246, 246);
    border-radius: 12px;
}
.links a {
    transition: 
        background-color 0.5s,
        border-radius 0.5s
    ;
    padding: 12px;
    display: inline-block;
}
#sidebar a {
    text-decoration: none;
    color: navy;
}
#sidebar li {
    list-style-type: none;
    margin: 0px;
    padding: 16px 0px;
}
#links {
    background-color: aquamarine;
}
#main {
    grid-area: main;
    margin: 0px 32px;
}
#author, #date {
    display: inline-block;
}

#date {
    padding: 0px 24px;
}

h2 {
    margin-bottom: 0px;
}

#threatened-p {
    display: flex;
}
#baby {
    width: 275px;
    margin: 0px 5px;
}
#facts li {
    margin: 8px;
}
#reproduction li {
    margin: 8px;
}
#beachturtle {
    width: 400px;
    margin: 12px 0px;
}