@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: rgb(249, 243, 236);
}
img {
    width: 100%;
}
/* page resets above */

.page-title {
    margin: 8px;
    border-bottom: 1px solid salmon;
    display: flex;
    justify-content: center;
    font-size: 50px;
}
#m {
    color: tomato;
}
#e {
    color: lightseagreen;
}
#b {
    color: coral;
}
#a {
    color: limegreen;
}
#y {
    color: lightsalmon;
}

a {
    color: lightseagreen;
}

#deal {
    font-family: "Playfair Display", serif;
}
#rightbar h1 {
    font-family: "Playfair Display", serif;
}
#grid {
    display: grid;
    grid-template-columns: 150px 900px 350px;
    grid-template-areas: "header header header"
    "leftbar main rightbar";
    justify-content: center;
}

div.shoe-views img {
    border-radius: 20%;
    padding: 4px 8px;
}
#main {
    padding: 0px 20px;
    h2 {
        font-family: "Playfair Display", serif;
        margin-bottom: 0px;
    }
}
#spons {
    margin-top: 0px;
    color: grey;
}
#spons-images {
    gap: 36px;
    display: flex;
    margin: 12px 0px;
    div {
        flex: 1;
        border: 2px solid salmon;
        border-radius: 12px;
        img {
            height: 200px;
            padding: 12px 24px 12px;
            border-radius: 30%;
            
        }
        p {
            padding: 0px 12px;
        }
    }
}
#discount {
    color: red;
}
h2 {
    grid-area: header;
}

div#seller {
    border-bottom: 1px solid salmon;
    padding-bottom: 17px;
}
div #price {
    border-bottom: 1px solid salmon;
}
span.btn {
    border: 2px solid grey;
    border-radius: 8px;
    margin: 20px 12px;
    padding: 4px 80px;
}
div#qty {
    margin: 30px 35px;
    display: inline-block;
}
span.qty {
    border: 2px solid grey;
    border-radius: 8px;
    margin: 20px 12px;
    padding: 4px 50px;
}

/* Hover BTNs Below */

#buy-button:hover {
    background-color: rgb(244, 211, 190);
}
#cart-button:hover {
    background-color: rgb(244, 211, 190);
}
#list-button:hover {
    background-color: rgb(244, 211, 190);
}
#buy-button, #cart-button, #list-button {
    transition: 
        background-color 0.5s,
        border-radius 0.5s
    ;
    border: 3px solid salmon;
    margin: 18px auto;
    padding: 4px; 
    text-align: center;
    border-radius: 50px;
    width: 70%;
    font-family: "Barlow Condensed", sans-serif;
}
i {
    padding-right: 8px;
}
#list-button h3 {
    display: inline-block;
}
#p1cta {
    border-bottom: 1px solid salmon;
    padding-bottom: 20px;
}