div {
    border: 10px ridge tomato;
    border-radius: 48px;
    margin: 24px 0px;
    padding: 24px 36px;
    background-color: peachpuff;
}
p {
    background-color: thistle;
    border: 5px solid palevioletred;
    margin: 25px auto;
    padding: 25px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
}


/*
        Short Hand Margin can have up to 4 values.

        1 value margin applies that value to all 4 sides.
        2 value margin: the first value is applied to the top and bottom.
            The second value is applied to the left and right.
        3 value margin: the first value is applied to the top, the second
            value is applied to the left and right, and the third is applied
            to the bottom.
        4 value margin: the first value is the top,
            the second value is the right, 
            the third value is the bottom,
            the fourth value is the left.

     */