* {
    box-sizing: border-box;
    margin: 0px;
}

/* Nav Header Below */
#nav {
    background-color: #9cc99c;
    padding: 20px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        color: white;
        text-decoration: none;
        font-size: 1.62rem;
    }
}
#link-container {
    display: flex;
    gap: 50px;
    padding-right: 50px;
}
#logo-contain img {
    width: 100px;
}
#nav-icons {
    display: flex;
    gap: 28px;
}

/* Hero Below */
#hero-content {
    background: 
        linear-gradient(0deg, #059b1982, #fba81971),
        url(../images/hero.jpg)
    ;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 300px;
    h1 {
        font-size: 4rem;
        color: #FFF200;
    }
    p {
        width: 450px;
        text-align: center;
        font-size: 1.75rem;
        color: white;
        margin-top: 12px;
    }
}
#hero-content {
    a {
        border: 2px solid #FFF200;
        padding: 10px 22px;
        font-size: 1.5rem;
        text-decoration: none;
        color: white;
        border-radius: 40px;
        margin-top: 40px;
    }
}
.spacer {
    height: 50vh;
    background: 
        linear-gradient(0deg, #30933e73, #89878772),
        url(../images/ingredients.jpg)
    
    ;
    background-size: cover;
    background-attachment: fixed;
}

/* Home Content Below*/
.base-content {
    background: 
        linear-gradient(0deg, #18361da1, #3e634297),
        url(../images/bgtxture.jpg)
    ;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 100px 20px;
}
#card-contain {
    display: flex;
    flex: 1;
    gap: 20px;
}
.cards {
    border: 3px solid #76C043;
    background-color: #75c04343;
    border-radius: 14px;
    margin: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        padding: 24px 20px;
    }
    h3 {
        text-align: center;
        padding-top: 14px;
        color: white;
        font-size: 1.35rem;
    }
}
.cards a {
    border: 2px solid #FFF200;
    padding: 8px 28px;
    font-size: 1.25rem;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 40px;
    margin: 0px auto 20px;
    display: inline-block;
    max-width: 30%;
}
#header {
    margin: 60px 30px 60px 40px;
    font-size: 1.75rem;
    color: #FFF200;
}

/* Footer Below*/
#footer {
    background-color: #9cc99c;
    padding: 50px 40px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "symbol links socials"
    "symbol copy socials"
    ;
    padding-bottom: 20px;
}
#symbol-contain img {
    width: 150px;
}
#symbol-contain {
    grid-area: symbol;
}
#f-content {
    grid-area: links;
    display: flex;
    gap: 270px;
    justify-content: center;
    align-items: center;
    a {
        text-decoration: none;
        color: white;
        font-size: 1.35rem;
    }
}
#socials {
    grid-area: socials;
    display: flex;
    gap: 20px;
    justify-content: end;
    align-items: center;
    a {
        text-decoration: none;
    }
}
#copyright {
    grid-area: copy;
    padding-top: 30px;
    text-align: center;
    color: #059B1A;
    font-size: 1.125rem;
}

/* Menu Page Below */
#menu-contain {
    background-color: #3b613b;
    padding: 40px 20px;
}
#special {
    border: 8px dotted #FBAA19;
    border-radius: 16px;
    padding: 20px;
    width: 80%;
    margin: 0px auto;
    img {
        width: 100%;
        height: 450px;
        object-fit: cover;
        object-position: center;
    }
    h3 {
        color: #FFF200;
        font-size: 3rem;
        text-align: center;
        padding-bottom: 20px;
    }
}
#special p {
    text-align: center;
    padding: 20px 24px;
    margin: 20px auto;
    width: 60%;
    background-color: #059b19af;
    border-radius: 12px;
    color: #FFF200;
    font-size: 1.5rem;;
}
#price {
    text-align: center;
    font-size: 1.5rem;
    color: #FFF200;
    display: block;
    padding-top: 12px;
}
#menu-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 275px;
    gap: 26px;
    padding: 40px;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 12px;
    }
}