@import url("https://use.typekit.net/xcn5bxp.css");
@import url("https://use.typekit.net/xcn5bxp.css");
* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 0px;
}

/* Nav Bar Below */
#logo {
    font-family: "hey-eloise", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
    color: brown;
}
#logo-container {
    display: flex;
    align-items: center;
    grid-area: logo;
    i {
        padding-right: 8px;
    }
}
#nav {
    border-bottom: 2px solid #51241f;
    background-image: url(../images/bg.png);
    background-size: 30%;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-areas: "logo nav .";
    align-items: center;
    justify-content: space-between;
    a {
        text-decoration: none;
    }
}
.link {
    color: #51241f;
    font-size: 1.5rem;
    font-family: "embury-text", serif;
    font-weight: bold;
    font-style: normal;
}
#link-container {
    display: flex;
    gap: 175px;
    grid-area: nav;
}

/* Drop Down Below */
.drop-container {
    position: relative;
}
.drop-menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: #51241f;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    gap: 24px;
    padding: 30px 35px;
    transition: 
        opacity 0.25s,
        visibility 0.25s
    ;
    a {
     width: 100%;
     color: white;
    }
}
.drop-container:hover .drop-menu {
    opacity: 1;
    visibility: visible;
}

/* Hero CSS Below */
.container {
    width: 90vw;
    margin: 0px auto;
}
#hero {
    background: 
        linear-gradient(to right, #844f2c, #844f2c, #ffffff00, #ffffff00, #ffffff00), 
        url(../images/heroimg.jpg)
    ;
    height: 100vh;
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    h1 {
        font-size: 4rem;
        color: white;
        font-family: "embury-text", serif;
        font-weight: 400;
        font-style: normal;
    }
}
#cta a {
    display: inline-block;
    text-decoration: none;
    background-color: white;
    padding: 12px 60px;
    font-size: 1.5rem;
    color: brown;
    border-radius: 24px;
    font-family: "embury-text", serif;
    font-weight: 400;
    font-style: normal;
}
#cta a:hover {
    background-color: #fac184;
    box-shadow: 6px 6px 4px #0003;
}

/* Animal Pages */
.animal {
    width: 550px;
    object-fit: contain;
    border: 20px solid #51241f;
}
.single-column {
    width: 50%;
    min-width: 500px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        color: #51241f;
        padding: 12px 30px;
        margin-top: 50px;
        margin-bottom: 0px;
        font-family: "embury-text", serif;
        font-weight: bold;
        font-style: normal;
    }
    p {
        text-align: center;
        border: 2px solid white;
        padding: 24px 32px;
        margin-bottom: 30px;
        width: 70%;
        font-size: 1.125rem;
    }
}
.pagebg {
    background: 
        linear-gradient(20deg, #fed7adf0, #fed7adf0),
        url(../images/pagebg.png)
    ;
}
.adopt-cta a {
    display: inline-block;
    text-decoration: none;
    background-color: white;
    padding: 12px 70px;
    font-size: 1.75rem;
    color: brown;
    border-radius: 28px;
    font-family: "embury-text", serif;
    font-weight: 400;
    font-style: normal;
    margin: 36px 0px 70px;
}
.adopt-cta a:hover {
    background-color: #fac184;
    box-shadow: 6px 6px 4px #0003;
}



/* Media Queries */
@media screen and (min-width:980px) and (max-width:1199px){
    #logo {
        display: none;
    }
    #logo-container {
        i {
            padding-right: 20px;
            padding-left: 0px;
        }
    }
    .link {
        font-size: 1.75rem;
    }
    #link-container {
        gap: 80px;
    }
    #hero {
        background: 
            linear-gradient(to right, #844f2c, #ffffff00, #ffffff00, #ffffff00), 
            url(../images/heroimg.jpg)
        ;
        justify-content: flex-end;
        height: 100vh;
        background-size: cover;
        background-position: right;
        .container {
            margin-bottom: 100px;
        }
        h1 {
            font-size: 3.5rem;
        }
    }
    #cta a {
        padding: 8px 60px;
        font-size: 1.5rem;
        color: brown;
        border-radius: 24px;
    }
}


@media screen and (max-width: 979px) and (min-width: 680px){
    #logo {
        display: none;
    }
    #logo-container {
        i {
            padding-right: 20px;
            padding-left: 0px;
        }
    }
    .link {
        font-size: 1.75rem;
    }
    #link-container {
        gap: 80px;
    }
    #hero {
        background: 
            linear-gradient(to right, #844f2c, #ffffff00, #ffffff00, #ffffff00), 
            url(../images/heroimg.jpg)
        ;
        justify-content: flex-end;
        height: 50vh;
        background-size: cover;
        background-position: right;
        .container {
            margin-bottom: 20px;
        }
        h1 {
            font-size: 2.5rem;
        }
    }
    #cta a {
        padding: 8px 60px;
        font-size: 1rem;
        color: brown;
        border-radius: 24px;
    }
    .adopt-cta a {
        padding: 12px 50px;
        font-size: 1.5rem;
    }
    .single-column p {
        font-size: 1rem;
    }
}


@media screen and (max-width: 680px){
    #logo {
        display: none;
    }
    #logo-container {
        i {
            padding-right: 20px;
            padding-left: 0px;
        }
    }
    .link {
        font-size: 1rem;
    }
    #link-container {
        gap: 20px;
        flex-direction: column;
        a {
            font-size: 1.5rem;
        }
    }
    #hero {
        background: 
            linear-gradient(to bottom, #844f2c, #ffffff00, #ffffff00, #ffffff00), 
            url(../images/heroimg.jpg)
        ;
        background-attachment: fixed;
        justify-content: flex-start;
        height: 50vh;
        background-size: cover;
        background-position: center;
        .container {
            margin-bottom: 20px;
        }
        h1 {
            font-size: 2rem;
        }
    }
    #cta a {
        padding: 8px 30px;
        font-size: 1rem;
        color: brown;
        border-radius: 24px;
    }
    .animal {
        width: 300px;
    }
    .single-column {
        width: 50%;
        min-width: 200px;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            color: #51241f;
            padding: 12px 30px;
            margin-top: 50px;
            margin-bottom: 0px;
            font-family: "embury-text", serif;
            font-weight: bold;
            font-style: normal;
        }
        p {
            padding: 24px 32px;
            margin: 30px 0px;
            width: 100%;
            font-size: .75rem;
        }
    }
    .adopt-cta a {
        padding: 10px 30px;
        font-size: 1rem;
    }
}