@import url("https://use.typekit.net/xcn5bxp.css");
@import url("https://use.typekit.net/xcn5bxp.css");
* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 0px;
}

/* Nav Bar Below */
#logo {
    font-family: "hey-eloise", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
    color: brown;
}
#logo-container {
    display: flex;
    align-items: center;
    grid-area: logo;
    i {
        padding-right: 8px;
    }
}
#nav {
    background-image: url(../images/bg.png);
    background-size: 30%;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-areas: "logo nav .";
    align-items: center;
    justify-content: space-between;
    a {
        text-decoration: none;
    }
}
.link {
    color: #51241f;
    font-size: 1.25rem;
    font-family: "embury-text", serif;
    font-weight: bold;
    font-style: normal;
}
#link-container {
    display: flex;
    gap: 175px;
    grid-area: nav;
}

/* Drop Down Below */
.drop-container {
    position: relative;
}
.drop-menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: #51241f;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    gap: 24px;
    padding: 30px 35px;
    transition: 
        opacity 0.25s,
        visibility 0.25s
    ;
    a {
     width: 100%;
     color: white;
    }
}
.drop-container:hover .drop-menu {
    opacity: 1;
    visibility: visible;
}

/* Hero CSS Below */
.container {
    width: 90vw;
    margin: 0px auto;
}
#hero {
    background: 
        linear-gradient(to right, #844f2c, #844f2c, #ffffff00, #ffffff00, #ffffff00), 
        url(../images/heroimg.jpg)
    ;
    height: 100vh;
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    h1 {
        font-size: 4rem;
        color: white;
        font-family: "embury-text", serif;
        font-weight: 400;
        font-style: normal;
    }
}
#cta a {
    display: inline-block;
    text-decoration: none;
    background-color: white;
    padding: 12px 60px;
    font-size: 1.5rem;
    color: brown;
    border-radius: 24px;
    font-family: "embury-text", serif;
    font-weight: 400;
    font-style: normal;
}
#cta a:hover {
    background-color: #fac184;
    box-shadow: 6px 6px 4px #0003;
}

/* Animal Pages */
.de img {
    width: 20px;
    object-fit: contain;
}