* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.card-container {
    display: flex;
    gap: 50px;
    padding: 24px;
    margin: 24px auto;
    width: 90vw;
    max-width: 1200px;
    flex-wrap: wrap;
}
.card1 {
    border: 2.5px dotted #e38e5c;
    padding: 24px;
    flex: 200px;
    transition: transform 2s;
    h2 {
        text-align: center;
        font-style: italic;
        color: #e38e5c;
    }
    &:hover {
        transform: rotate(360deg);
    }
}
.card2 {
    border: 2.5px solid #5259a9;
    padding: 24px;
    padding: 24px;
    flex: 200px;
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s
    ;
    h2 {
        text-align: center;
        font-style: italic;
        color: #5259a9;
    }
}
.card2:hover {
    background: linear-gradient(180deg, #aecdff, #b8faca);
    box-shadow: 4px 4px 4px #11024366;
    transform: translateY(-4px);
}
.card3 {
    border: 2.5px solid;
    border-image: linear-gradient(90deg, #e64b9b, #ab1111) 1;
    padding: 24px;
    padding: 24px;
    flex: 200px;
    .content {
        opacity: 0;
        visibility: hidden;
        transition:
            opacity 2.25s,
            visibility 2.25s
        ;
    }
    h2 {
        text-align: center;
        font-style: italic;
        color: #ab1111;
    }
}
.card3:hover .content {
    opacity: 1;
    visibility: visible;
}
img {
    margin-top: 20px;
    width: 100%;
    aspect-ratio: 1 / 1;
    height: 200px;
}
.btn {
    display: block;
    text-decoration: none;
    color: purple;
    border: 2px solid orangered;
    padding: 10px 12px;
    margin: 20px;
    text-align: center;
    transition: box-shadow 0.5s;
    &:hover {
        box-shadow:
        0px 0px 10px 3.5px #e66006,
        inset 0px 0px 10px 4px #ffcb62;
    }
}