* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#hero-1 {
    background: 
        linear-gradient(180deg, #37b8ef94, #bf7bf099),
        url(../images/okee.jpg)
    ;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    h2 {
        color: white;
        text-align: right;
        font-size: 3rem;
        font-style: italic;
        padding-right: 80px;
    }
    h1 {
        font-size: 4rem;
        padding-left: 25px;
        color: white;
        text-align: center;
    }
    a {
        margin-bottom: 100px;
    }
}
#hero-1 a, #hero-3 a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    display: inline-block;
    background-color: #3a083a;
    padding: 12px 64px;
    border-radius: 6px;
}

#hero-2 {
    background:
        linear-gradient(180deg, #05a7ed, #f0b96695),
        url(../images/oke-beach.jpeg)
    ;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#hero-2 a {
    text-decoration: none;
    color: #05a7ed;
    font-size: 1rem;
    display:
    block;
    background-color: white;
    padding: 12px 64px;
    border-radius: 6px;
}