* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: sans-serif;
    background: linear-gradient(180deg, #FAE9E9, #DBE0FA);
    background-repeat: no-repeat;
}
.container {
    width: 95%;
    max-width: 1900px;
    margin: 0px auto;
}

/* Top Of Home Page */
#hero {
    background: url(../images/heroimage.jpg);
    background-size: cover;
    background-position: top center;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    h1 {
        color: white;
        font-weight: lighter;
        font-size: 6.5rem;
    }
    h3 {
        color: #1C2551;
        font-weight: lighter;
        font-style: italic;
        padding-left: 12px;
        padding-top: 8px;
        font-size: 1.5rem;
    }
}
.btn {
    background-color: #BB8EC0;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-top: 48px;
    padding: 12px 48px;
    border-radius: 50px;
    transition: all 0.5s;
    &:hover {
        box-shadow: 
        -5px 0px 30px #daa8f9,
        5px 0px 30px #ffc8e3,
        inset 0px 0px 12px #fff5
    }
}
#logo {
    width: 6rem;
    padding-top: 4px;
    padding-bottom: 4px;
}
.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 8rem;
    margin: 0px auto;
    font-size: 1.5rem;
    color: #1C2551;
}
.navbar {
    background: linear-gradient(180deg, #FAE9E9, #DBE0FA);
    a {
        text-decoration: none;
        color: #1C2551;
        padding: 12px 20px;
        border-radius: 50px;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    li {
        padding: 50px 0px;
    }
}
.navbar a.topnav:hover {
    background: linear-gradient(180deg, #ffdbdbAA, #c9d2feAA);

}
.drop {
    position: relative;
    .menu {
        position: absolute;
        background-color: #F9ECFB;
        padding: 40px 2px;
        top: -100%;
        visibility: hidden;
        opacity: 0;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: column;
        gap: 32px;
        transition: all .75s;
        font-style: italic;
        font-weight: lighter;
    }
    li {
        padding: 0px;
        text-align: center;
    }
    &:hover .menu {
        visibility: visible;
        opacity: 1;
        top: 123px;
    }
}
.menu a {
    &:hover {
        text-decoration: underline;
    }
}

/* Home Content */
#highlighted-work {
    font-style: italic;
    font-weight: lighter;
    margin-top: 48px;
    font-size: 3rem;
    color: #1C2551;
}
#home-content {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px 90px;
    border: 3px groove #f2d9f5;
    border-radius: 24px;
    padding: 30px 20px;
    h4 {
        font-weight: lighter;
        text-align: center;
        padding-bottom: 24px;
        font-size: 1.125rem;
    }
}
.card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

/* Bottom Of Page */
.footer {
    background: linear-gradient(180deg, #FAE9E9, #DBE0FA);
    padding: 24px 12px;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    img {
        width: 35px;
    }
    div {
        display: flex;
        gap: 2rem;
    }
    a {
        text-decoration: none;
    }
}

/* Design Gallery Page */
#design-content {
    h1 {
        font-style: italic;
        font-weight: lighter;
        margin-top: 48px;
        font-size: 3rem;
        color: #1C2551;
    }
    h4 {
        background: linear-gradient(180deg, #fae0e0, #DBE0FA);
        text-align: center;
        font-weight: lighter;
        padding: 12px 75px;
        display: block;
        margin: 0px auto;
        width: max-content;
        font-size: 1.25rem;
    }
}
.h-masonry-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    border: 3px solid #1C2551;
    padding: 30px 24px;
    margin: 12px 75px;
    img {
        height: 350px;
        flex: 1;
        object-fit: cover;
        width: 100%;
    }
}
.h-masonry-gallery a {
    position: relative;
    flex-grow: 1;
    p {
        position: absolute;
        background: linear-gradient(180deg, #fae0e0, #DBE0FA);
        top: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s;
    }
    &:hover p {
        visibility: visible;
        opacity: 1;
    }
}